$hoverColor : #fff7fff !default;
/*$rb-dark-blue: 	rgb(0,86,145) !default;*/
$rb-dark-blue: 	rgb(0,86,145) !default;
$rb-red: 	rgb(226,0,21) !default;
$gray-light: rgb(191,192,194) !default;


.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.from {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.custom-day.to {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range {
  background-color: $rb-dark-blue;
  color: white;
}
.custom-day:hover {
  background-color: $rb-dark-blue;
  color: white;
}
.custom-day.faded {
  opacity: 0.4;
}
.custom-day.faded:hover {
  opacity: 0.8;
}
.custom-day.disabled {
  color: $gray-light;
}
.form-control.ng-invalid  {
  border-right: 5px solid $rb-red;
  border-color: $rb-red;
}
